<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="https://www.thymeleaf.org" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<table >
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>비밀번호</th>
<!-- 			<th>유효</th> -->
			<th>권한</th>
<!-- 			<th>가입날짜</th> -->
		</tr>
		<tr th:Each="mem:${list}">
			<td th:text = "${mem.id}"></td>
			<td th:text = "${mem.username}"></td>
			<td th:text = "${mem.password}"></td>
<!-- 			<td th:text = "${mem.enable}"></td> -->
			<td th:text = "${mem.rolename}"></td>
<!-- 			<td th:text = "${mem.create_date}"></td> -->
		</tr>
	</table>

</body>
</html>